:root {
    --primary: #fcfc62;
    --secondary: #1d1e18;
    --tertiary: #f4f5f6;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body{
    background: var(--tertiary);
}

/*this is start of header*/

.header {
    display: flex;
    position: sticky;
    background-color: var(--primary);
    align-items: center;
    padding: 1rem;
    height: 68px;
    gap: 1rem;
    top: 0;
    z-index: 20;
}

.headerButtons {
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
}

.nav {
    display: none;
}

.navMenu {
    display: none;
    position: absolute;
    background-color: var(--primary);
    margin-top: 255px;
    justify-content: center;
    left: 0;
    width: 100vw;
}

.navMenu .menu {
    padding-bottom: .5rem;
    font-size: 31px;
    font-weight: bold;
}

.navMenu ul {
    gap: .5rem;
    padding: 0;
}

.navMenu li{
    list-style-type: none;
    padding-left: 1rem;
    border-bottom: solid 1px var(--secondary);
    font-size: 25px;
}

.navMenu a {
    color: var(--secondary);
    text-decoration: none;
}

.desktop {
    display: none;
}

#menuCheckbox:checked ~ .navMenu{
    display: block;
}

#menuCheckbox {
    display: none;
}

.logo {
    flex-grow: 2;
}

.logo img {
    height: 60px;
    width: 108px;
}

.search {
    background-color: #EEEEEE;
    border: none;
    width: 100vw;
    padding: 8px;
}

/*start of main*/

.breadCrumb {
    display: flex;
    font-size: .5rem;
    gap: 1rem;
    margin: .5rem 1rem;
}

.BreadCrumbLight {
    font-weight: normal;
    color: rgba(29, 30, 24, 0.72);
}

.productImages {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainImage {
    height: 399px;
    width: 399px;
}

.carouselImages {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

.carouselImages ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
}

.carouselImages ul li img{
    height: 88px;
    width: 88px;
}

.carouselImages ul li:first-child {
    border-bottom: solid 1px var(--secondary);
}

.productInfoContainer {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.productInfoContainer h2 {
    font-size: 2.5rem;
}

.productInfoContainer h3 {
    font-family: 'DM Sans', sans-serif;
    font-size:1.5rem;
    font-weight: 500;
}

.colorAndSize {
    display: flex;
    gap: .5rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.colorAndSize .light {
    color: rgba(29, 30, 24, 0.75);
}

.colorButtons {
    display: flex;
    gap: 1rem;
}

.grey, .yellow {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    border: solid  1px #EEEEEE;
}

.grey {
    background-color: #525152;
}

.yellow {
    background-color: #FFE500;
}

.sizeButtons ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.sizeButtons ul li button{
    width: 70px;
    color: var(--secondary);
    background-color: #EDEDED;
    border: solid .5px var(--secondary);
}

.addToCart {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 1rem;
}

.addToCartButton {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    border-radius: 35px;
    background-color: var(--secondary);
    color: var(--primary);
}

.addToCartButton h4 {
    font-weight: 600;
}

/*this is start of modal*/

.modalContainer {
    display: none;
    background-color: rgba(29, 30, 24, 0.48);
    position:absolute;
    top: 0;
    height: 232vh;
    width: 100vw;
}

.modal {
    display: flex;
    justify-content:  center;
    opacity: 100;
}

.modalContent {
    position: absolute;
    top: 30%;
    width: 95vw;
    background-color: var(--tertiary);
}

.modalContent h2 {
    font-size: 1.2rem;
    padding: .5rem;
}

.modalImage {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.modalImage img {
    height: 125px;
    width: 125px;
    margin-top: .5rem;
}

.productInfoModal {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.productInfoModal h3 {
    font-size: 1rem;
    font-weight: 400;
}

.productInfoModal h4 {
    font-weight: 400;
    font-size: .7rem;
}

.modalButtons ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1rem;
}

.modalButtons ul li button {
    width: 175px;
    border-radius: 35px;
    border: solid 1px var(--secondary);
}

.modalButtons ul li .continue {
    background-color: var(--tertiary)
}

.modalButtons ul li .checkout {
    background-color: var(--secondary);
    color: var(--primary)
}

#addToCart {
    display: none;
}

#addToCart:checked ~ .modalContainer {
    display: block;
}

/*end of modal*/

.customerInfo ul {
    list-style: none;
    padding-left: .5rem;
}

.customerInfo ul li {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
}

.productDescription {
    margin: .5rem 1rem;
    padding: .5rem;
    background-color: #EEEEEE;
}

.productDescription p {
    font-family: "DM Sans", sans-serif;
}

.ratingContainer {
    margin-top: 1rem
}

.ratingContainer h2 {
    margin-left: 1rem;
}

.rating {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}

/*recommended carousel*/

.carousel{
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.carousel h2 {
    font-size: 1rem;
    font-weight: 600;
}

.carouselContent {
    display: flex;
    gap: 16px;
    margin-top: 1rem;
    overflow-x: scroll;
}

.contentCard {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 222px;
    width: 154px;
    background-color: #EEEEEE;
}

.contentCardImage {
    height: 162px;
    width: 100%;
    padding: 8px;
}

.contentCard h3 {
    font-size: 12px;
}

.contentCard p {
    font-size: 8px;
}

.contentCardText {
    padding-left: 4px;
}

/*this is the footer*/

.footerContainer {
    display: flex;
    background-color: var(--primary);
    overflow: hidden;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;
}

.footerContainer ul {
    list-style: none;
    padding: 0;
}

.footerContainer ul li {
    font-size: .5rem;
}

.footerContainer ul li:first-child  {
    font-weight: bold;
}

@media (min-width: 1024px) {
    .header {
        display: flex;
        position: relative;
        justify-content: space-between;
    }

    .logo {
        flex-grow: 0;
    }

    .navMenu {
        width: 350px;
        height: 100vh;
        top: 0;
        margin-top: 68px;
    }

    .menuButtonContainer {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .desktop {
        display: block;
    }

    .navMenu .menu {
        margin-top: 0;
    }

    .nav {
        display: flex;
        position: relative;
    }

    .nav ul {
        display: flex;
        justify-content: center;
        gap: 75px;
        width: 100vw;
        background-color: #1d1e18;
        list-style: none;
        padding: 0;
    }

    .nav ul li a {
        color: var(--tertiary);
        text-decoration: none;
    }

    .contentCard {
        height: 448px;
        width: 310px;
    }

    .contentCardImage {
        height: 328px;
        width: 100%;
        padding: 8px;
    }

    .contentCard h3 {
        font-size: 25px;
    }

    .contentCard p {
        font-size: 16px;
    }

    .productImages {
        align-items: normal;
    }

    .contentContainer {
        margin: 1rem 0 1rem 70px;
        display: flex;
        overflow: hidden;

    }
    .mainImage {
        height: 750px;
        width: 750px;
    }

    .carouselImages ul li img{
        height: 150px;
        width: 150px;
    }

    .carouselImages ul {
        gap: 48px;
    }

    .addToCartButton {
        width: 530px;
    }

    .addToCartButton:hover {
        background-color: #fcfc62;
        color: #1d1e18;
    }

    .sizeButtons ul li button {
        width: 90px;
    }

    .productInfoContainer {
        gap: 2rem;
    }

    .productDescription {
        height: 631px;
    }

    .ratingContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 1150px;
    }

    .rating {
        margin-left: 1rem;
        z-index: 0;
    }

    .carousel{
        margin-top: 1rem;
    }

    .carouselContent  {
        display: flex;
        justify-content: space-between;
    }

    .modal {
        display: flex;
        opacity: 100;
    }

    .modalContainer {
        left: 0;
        z-index: 20;
    }

    .modalContent {
        position: absolute;
        top: 20%;
        width: 40vw;
        background-color: var(--tertiary);
    }
}

